.toy_head{
    color: brown;
    font-family:"Dawning of a New Day", cursive;
    font-weight: 500;
    font-style: italic;
    font-size: larger;
    background-color:yellowgreen;
    

}
.container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}

h1{
    font-size: 50px;
}
img{
    height: 50px;
    padding-top: 20px;
}
ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100%;
}

ul,h2,h3{
    display:inline;

}
.support{
    text-align: center;
}
.homepage{
    margin-left: 10%;
}
ul{
    margin:auto;
}
.box{
    margin-top: 10px;
    background-color: #eee;
    width: 330px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 100px;
}
input{
    width: 240px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}
ion-icon{
    position: absolute;
    right: 500px;
    color: #555;
    font-size: 1.5em;
    cursor: pointer;
}
.toys-collection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.row{
    width: 200px;
    background-color: #f0f0ff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,2);
    margin: 20px;
    text-align: center;
}
.row img{
    width: 100px;
    height: auto;
}
.row:hover{
    background-color: yellow;
    cursor: pointer;
    transform:scale(1.2);
}
.cars{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.car{
    width: 200px;
    background-color: #f0f0ff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 4px 4px 5px rgba(0,0,0,2);
    margin: 20px;
    text-align: center;
}
.car img{
    width: 50%;
    height: auto;
}
.car:hover{
    background-color: pink;
    cursor: pointer;
    transform: scale(1.3);
}
.contact{
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    font-size: small;
    

}
.carousel {
    overflow: hidden;
    width: 50%;
    max-width: 50%;
    margin: auto;
    position: relative;
}

.carousel-images {
    display: flex;
    transition: transform 1s ease;
}

.carousel-images img {
    width: 100%;
    max-width: 100%;
    height: 150px;
    display: block;
}

.carousel-images:hover {
    animation: slide 1m infinite;
}

@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}




